@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kosau Uladzimir Uladzimiravich<br />
    <abbr title="Phone">Phone:</abbr>
    +375(29)208-18-65
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:prajdziswet@mail.ru">prajdziswet@mail.ru</a>
</address>
