@using MyApp.Class
@{ ViewData["Title"] = "Home Page"; }

<h2 style="line-height: 80px;">@ViewData["Message"]</h2>
<strong>@ViewData["Wait"]</strong>

<script>
    setTimeout(function () {
        location.reload();
    }, 5000);
</script>
