@{
    <table style="border: 1px solid grey; padding: 10px; ">
        <tr>
            <td><strong>Параметр</strong></td>
            <td><strong>Значение</strong></td>
        </tr>
        <tr>
            <td><strong>Заголовок</strong></td>
            <td>@ViewData["title"]</td>
        </tr>
        <tr>
            <td><strong>Дата</strong></td>
            <td>@ViewData["data"]</td>
        </tr>
        <tr>
            <td><strong>Новость</strong></td>
            <td><p>@ViewData["text"]</p></td>
        </tr>
    </table>
}
