@{
    <table>
        <tr>
            <td>Параметр</td>
            <td>Значение</td>
        </tr>
        <tr>
            <td>Заголовок</td>
            <td>@ViewData["title"]</td>
        </tr>
        <tr>
            <td>Дата</td>
            <td>@ViewData["data"]</td>
        </tr>
        <tr>
            <td>Новость</td>
            <td><p>@ViewData["text"]</p></td>
        </tr>
    </table>
}
